<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="rpm.ui.client"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://org.fubabaz.rpm.ui.client/rpm.ui.client.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="rpm.ui.client">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/rpm.ui.client/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
